.lading {
    margin: 0 auto;
}

.sectors .bottom {
    /* max-width: 222px; */
    /* убрать жесткую величину */
    border-radius: 18px;
    background: rgba(245, 250, 147, 1);
    padding: 18px 14px;
}

.bottom p {
    color: rgba(0, 0, 0, 1);
}

.button {
    width: 100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 1);
    padding: 18px 0;
    border: 1px solid rgba(51, 51, 51, 1);
}

/* .bottom_section{
    border-radius: 18px;
    background: rgba(0, 0, 0, 1);
    padding: 18px 14px;
    display: flex;

} */

p {
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

span{
    color: black;
}

h1 {
    font-size: 68px;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;

}

h3 {
    margin: 0;
    color: rgba(245, 250, 147, 1);
}

.title h3 {
    color: rgba(0, 0, 0, 1);
}

li {
    list-style-type: none;
}

summary {
    list-style: none;
}
